<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Reminder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Ionic Reminder</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-create-reminder (onChange)="addReminder($event)"></app-create-reminder>
  <ion-grid>
    <ion-row *ngIf="getUpcomingReminders().length">
      <ion-col>
        <ion-title>Upcoming Reminders</ion-title>
        <app-reminder-item *ngFor="let reminder of getUpcomingReminders()" [id]="reminder.id" [name]="reminder.name" [time]="reminder.time" 
        (onDismiss)="dismissReminder($event)" [hasPassed]="hasPassed(reminder.time)"></app-reminder-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="getPastReminders().length">
      <ion-col>
        <ion-title>Past Reminders</ion-title>
        <app-reminder-item *ngFor="let reminder of getPastReminders()" [id]="reminder.id" [name]="reminder.name" [time]="reminder.time" 
        (onDismiss)="dismissReminder($event)" [hasPassed]="hasPassed(reminder.time)"></app-reminder-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
